/.idea
/.pdm-python
/.pdm.toml
/build/
/__pypackages__/
/dist/
/.mypy_cache/
/.ruff_cache/
/.pdm-build/
/tmp/
/__pycache__/
/*.pyc
/.zencoder/

# ACB settings directory (should only be created by consuming applications)
/settings/
