[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = [
    "crackerjack>=0.7.1",
]

[tool.ruff]
line-length = 88
target-version = "py312"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py312",
]

[tool.creosote]
paths = [
    "acb",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "alive-progress",
    "pytest",
    "autotyping",
    "ulid-py",
    "pre-commit",
    "pdm-bump",
    "pyfiglet",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "acb",
]
skips = [
    "B404",
    "B403",
    "B113",
    "B603",
]

[tool.pyright]
include = [
    "acb",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.12"

[project]
name = "acb"
version = "0.3.0"
description = "Asynchronous Code Base"
dependencies = [
    "itsdangerous>=2.1.2",
    "arrow>=1.3.0",
    "google-crc32c>=1.5.0",
    "dill>=0.3.7",
    "blake3>=0.3.3",
    "loguru>=0.7.2",
    "msgspec[toml]>=0.18.4",
    "nest-asyncio>=1.5.8",
    "pydantic-settings>=2.0.3",
    "bevy>=2.0.1",
    "icecream>=2.1.3",
    "pydantic>=2.4.0",
    "brotli>=1.1.0",
    "ulid-py>=1.1.0",
    "pyfiglet>=1.0.2",
    "alive-progress>=3.1.4",
    "pluginbase>=1.0.1",
    "inflection>=0.5.1",
    "aiopath>=0.7.5",
    "hishel>=0.0.13",
]
requires-python = ">=3.12"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.12",
    "Framework :: Pydantic",
    "Framework :: Pydantic :: 2",
    "Framework :: AsyncIO",
    "Typing :: Typed",
    "License :: OSI Approved :: BSD License",
    "Development Status :: 3 - Alpha",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
Homepage = "https://github.com/lesleslie/acb"
Documentation = "https://github.com/lesleslie/acb"
Repository = "https://github.com/lesleslie/acb"

[project.optional-dependencies]
cache = [
    "cashews[redis]>=6.3.0",
]
storage = [
    "gcsfs>=2023.9.2",
    "s3fs>=2023.9.2",
    "adlfs>=2023.9.0",
]
dns = [
    "google-cloud-dns>=0.34.1",
    "validators>=0.22.0",
]
requests = [
    "httpx[http2]>=0.25.0",
    "hishel>=0.0.13",
]
email = [
    "mailgun>=0.1.1",
]
secrets = [
    "google-cloud-secret-manager>=2.16.4",
]
sql = [
    "sqlalchemy>=2.0.11",
    "sqlalchemy-utils>=0.41.1",
    "mysqlclient>=2.2.0",
    "asyncmy>=0.2.8",
]
nosql = [
    "google-cloud-firestore>=2.12.0",
    "motor>=3.3.1",
]
demo = [
    "faker>=19.10.0",
]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
