[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = [
    "-e git+https://github.com/honglei/sqlmodel.git#egg=sqlmodel",
    "crackerjack>=0.6.16",
]

[tool.ruff]
line-length = 88
target-version = "py311"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py311",
]

[tool.creosote]
paths = [
    "acb",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pytest",
    "pre-commit",
    "autotyping",
    "pdm-bump",
    "ulid-py",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "acb",
]
skips = [
    "B113",
    "B603",
    "B403",
    "B404",
]

[tool.pyright]
include = [
    "acb",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.11"

[project]
name = "acb"
version = "0.2.15"
description = "Asynchronous Code Base"
dependencies = [
    "itsdangerous>=2.1.2",
    "aiopath>=0.6.11",
    "arrow>=1.3.0",
    "google-crc32c>=1.5.0",
    "dill>=0.3.7",
    "blake3>=0.3.3",
    "loguru>=0.7.2",
    "msgspec[toml]>=0.18.3",
    "nest-asyncio>=1.5.8",
    "pydantic-settings>=2.0.3",
    "sqlalchemy>=2.0.11",
    "bevy>=2.0.1",
    "icecream>=2.1.3",
    "pydantic>=2.4.0",
    "brotli>=1.1.0",
    "ulid-py>=1.1.0",
]
requires-python = ">=3.11"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
Homepage = "https://github.com/lesleslie/acb"
Documentation = "https://github.com/lesleslie/acb"
Repository = "https://github.com/lesleslie/acb"

[project.optional-dependencies]
cache = [
    "cashews[redis]>=6.3.0",
]
storage = [
    "gcsfs>=2023.9.2",
    "s3fs>=2023.9.2",
    "adlfs>=2023.9.0",
]
dns = [
    "google-cloud-dns>=0.34.1",
    "validators>=0.22.0",
]
requests = [
    "httpx[http2]>=0.25.0",
    "httpx-cache>=0.13.0",
    "brotli>=1.1.0",
]
mail = []
secrets = [
    "google-cloud-secret-manager>=2.16.4",
]
sql = [
    "sqlalchemy>=2.0.11",
    "sqlalchemy-utils>=0.41.1",
    "mysqlclient>=2.2.0",
    "asyncmy>=0.2.8",
]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
