[tool.pdm.dev-dependencies]
dev = [
    "pytest>=7.4.0",
    "pre-commit>=3.3.3",
    "pyanalyze>=0.10.1",
    "autotyping>=23.3.0",
    "crackerjack>=0.3.13",
]

[tool.ruff]
line-length = 88
target-version = "py311"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py311",
]

[tool.refurb]
enable_all = true

[tool.pyanalyze]
paths = [
    "acb",
]

[tool.pyright]
include = [
    "acb",
]
reportMissingImports = true
reportMissingTypeStubs = false
pythonVersion = "3.11"

[project]
name = "acb"
version = "0.1.12"
description = "Asynchronous Code Base"
dependencies = [
    "itsdangerous>=2.1.2",
    "aiopath>=0.6.11",
    "arrow>=1.2.3",
    "google-crc32c>=1.5.0",
    "icecream>=2.1.3",
    "dill>=0.3.7",
    "blake3>=0.3.3",
    "python-ulid>=1.1.0",
    "loguru>=0.7.0",
    "google-api-core>=2.11.1",
    "msgspec[toml]>=0.18.1",
    "tomli-w>=1.0.0",
    "pydantic>=2.2.0",
    "nest-asyncio>=1.5.7",
    "async-lru>=2.0.4",
    "pydantic-settings>=2.0.3",
    "asyncio-atexit>=1.0.1",
]
requires-python = ">=3.11"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
Homepage = "https://github.com/lesleslie/acb"
Documentation = "https://github.com/lesleslie/acb"
Repository = "https://github.com/lesleslie/acb"

[project.optional-dependencies]
cache = [
    "cashews[redis]>=6.2.0",
]
storage = [
    "gcsfs>=2023.6.0",
    "s3fs>=2023.6.0",
    "adlfs>=2023.8.0",
]
dns = [
    "google-cloud-dns>=0.34.1",
    "validators>=0.21.2",
]
requests = [
    "httpx>=0.24.1",
    "httpx-cache>=0.12.0",
]
mail = []
secrets = [
    "google-cloud-secret-manager>=2.16.3",
]
sql = [
    "sqlalchemy>=2.0.20",
    "sqlalchemy-utils>=0.41.1",
    "mysqlclient>=2.2.0",
    "asyncmy>=0.2.8",
]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
