[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = [
    "crackerjack>=0.7.25",
]

[tool.ruff]
line-length = 88
target-version = "py312"
fix = true
show-fixes = true
output-format = "full"

[tool.ruff.lint]
ignore = [
    "F821",
]

[tool.ruff.lint.isort]
force-single-line = true

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py312",
]

[tool.creosote]
paths = [
    "acb",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pdm",
    "pdm-bump",
    "pre-commit",
    "autotyping",
    "pyfiglet",
    "pyyaml",
    "ulid-py",
    "pytest",
    "phonenumbers",
    "alive-progress",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "acb",
]
skips = [
    "B603",
    "B404",
    "B403",
    "B113",
]

[tool.pyright]
verboseOutput = true
include = [
    "acb",
]
extraPaths = [
    "__pypackages__/3.12/lib/",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.12"
pythonPlatform = "Darwin"

[tool.codespell]
skip = "*/data/*"
quiet-level = 3
ignore-words-list = "crate,uptodate"

[project]
name = "acb"
version = "0.6.0"
description = "Asynchronous Component Base"
dependencies = [
    "itsdangerous>=2.1.2",
    "arrow>=1.3.0",
    "dill>=0.3.8",
    "blake3>=0.4.1",
    "loguru>=0.7.2",
    "msgspec[toml]>=0.18.6",
    "nest-asyncio>=1.6.0",
    "pydantic-settings>=2.2.0",
    "bevy>=2.0.2",
    "icecream>=2.1.3",
    "brotli>=1.1.0",
    "pyfiglet>=1.0.2",
    "alive-progress>=3.1.5",
    "inflection>=0.5.1",
    "aiopath>=0.7.7",
    "pyyaml>=6.0.1",
    "google-crc32c>=1.5.0",
    "pydantic[email]>=2.6.1",
    "devtools>=0.12.2",
]
requires-python = ">=3.12"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.12",
    "Framework :: Pydantic",
    "Framework :: Pydantic :: 2",
    "Framework :: AsyncIO",
    "Typing :: Typed",
    "License :: OSI Approved :: BSD License",
    "Development Status :: 3 - Alpha",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
Homepage = "https://github.com/lesleslie/acb"
Documentation = "https://github.com/lesleslie/acb"
Repository = "https://github.com/lesleslie/acb"

[project.optional-dependencies]
cache = [
    "cashews[redis]>=7.0.0",
]
storage = [
    "gcsfs>=2024.2.0",
    "s3fs>=2024.2.0",
    "adlfs>=2024.2.0",
]
dns = [
    "google-cloud-dns>=0.35.0",
    "validators>=0.22.0",
]
requests = [
    "httpx[http2]>=0.26.0",
    "hishel>=0.0.24",
]
email = [
    "mailgun>=0.1.1",
]
sql = [
    "sqlalchemy>=2.0.27",
    "sqlalchemy-utils>=0.41.1",
    "mysqlclient>=2.2.4",
    "asyncmy>=0.2.9",
    "sqlmodel>=0.0.16",
    "babel>=2.14.0",
]
nosql = [
    "google-cloud-firestore>=2.14.0",
    "motor>=3.3.2",
]
demo = [
    "faker>=23.2.1",
]
ftp = [
    "aioftp>=0.22.3",
    "asyncssh>=2.14.2",
]
secret = [
    "google-cloud-secret-manager>=2.18.2",
]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
