[tool.pdm.dev-dependencies]
dev = [
    "crackerjack>=0.9.1",
]

[tool.ruff]
line-length = 88
target-version = "py312"
fix = true
show-fixes = true
output-format = "full"

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
ignore = [
    "F821",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
]
extend-select = [
    "I",
    "C901",
    "D",
]

[tool.ruff.lint.isort]
no-lines-before = [
    "first-party",
    "local-folder",
]

[tool.ruff.lint.mccabe]
max-complexity = 12

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py312",
]

[tool.creosote]
paths = [
    "acb",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pdm-bump",
    "pre-commit",
    "pdm",
    "pyyaml",
    "pyfiglet",
    "autotyping",
    "pytest",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "acb",
]
skips = [
    "B404",
    "B602",
    "B403",
    "B311",
    "B603",
    "B607",
    "B301",
]

[tool.pyright]
verboseOutput = true
include = [
    "acb",
]
exclude = [
    "scratch",
]
extraPaths = [
    "__pypackages__/3.12/lib/",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.12"
pythonPlatform = "Darwin"

[tool.codespell]
skip = "*/data/*"
quiet-level = 3
ignore-words-list = "crate,uptodate"

[tool.vulture]
min_confidence = 84
paths = [
    "acb",
]

[project]
name = "acb"
version = "0.8.0"
description = "Asynchronous Component Base"
dependencies = [
    "itsdangerous>=2.2.0",
    "arrow>=1.3.0",
    "dill>=0.3.9",
    "blake3>=0.4.1",
    "loguru>=0.7.2",
    "msgspec[toml]>=0.18.6",
    "nest-asyncio>=1.6.0",
    "pydantic-settings>=2.6.0",
    "bevy>=2.0.2",
    "icecream>=2.1.3",
    "brotli>=1.1.0",
    "pyfiglet>=1.0.2",
    "inflection>=0.5.1",
    "aiopath>=0.7.7",
    "pyyaml>=6.0.2",
    "google-crc32c>=1.6.0",
    "pydantic[email]>=2.9.2",
    "devtools>=0.12.2",
    "typer>=0.12.5",
]
requires-python = ">=3.12"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.12",
    "Framework :: Pydantic",
    "Framework :: Pydantic :: 2",
    "Framework :: AsyncIO",
    "Typing :: Typed",
    "License :: OSI Approved :: BSD License",
    "Development Status :: 3 - Alpha",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
Homepage = "https://github.com/lesleslie/acb"
Documentation = "https://github.com/lesleslie/acb"
Repository = "https://github.com/lesleslie/acb"

[project.optional-dependencies]
cache = [
    "coredis>=4.17.0",
    "aiocache[redis]>=0.12.3",
    "logfire[redis]>=1.3.0",
]
storage = [
    "gcsfs>=2024.10.0",
    "s3fs>=2024.10.0",
    "adlfs>=2024.7.0",
]
dns = [
    "google-cloud-dns>=0.35.0",
    "validators>=0.34.0",
]
requests = [
    "httpx[http2]>=0.27.2",
    "hishel>=0.0.33",
    "sentry-sdk[httpx]>=2.17.0",
    "logfire[httpx]>=1.3.0",
]
smtp = [
    "mailgun>=0.1.1",
]
sql = [
    "sqlalchemy>=2.0.36",
    "sqlalchemy-utils>=0.41.2",
    "sqlmodel>=0.0.22",
    "babel>=2.16.0",
    "pymysql>=1.1.1",
    "aiomysql>=0.2.0",
    "logfire[sqlalchemy]>=1.3.0",
    "sentry-sdk[sqlalchemy]>=2.17.0",
]
nosql = [
    "google-cloud-firestore>=2.19.0",
    "motor>=3.6.0",
]
demo = [
    "faker>=30.8.1",
]
ftp = [
    "aioftp>=0.23.1",
    "asyncssh>=2.17.0",
]
secret = [
    "google-cloud-secret-manager>=2.21.0",
]
monitoring = [
    "sentry-sdk[loguru]>=2.17.0",
    "logfire[system-metrics]>=1.3.0",
]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
